@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    font-family: 'MedievalSharp', cursive;
}

.bg-primary {background-color: #36454f;}
.bg-secondary {background-color: darkgray;}

.alert {color: darkseagreen;}
.error {color: firebrick;}