@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    font-family: 'MedievalSharp', cursive;
}

:root {--charcoal: #36454f;}

.bg-primary {background-color: var(--charcoal);}
.bg-secondary {background-color: darkgray;}

.honeydew {color: honeydew}
.lightgrey { color:lightgrey}

.alert {color: darkseagreen;}
.error {color: firebrick;}